body {
    background-image: url("4865410.jpg");
    background-color: #cccccc;
   }

h1{
  font-size: 75px;
color: rgba(32, 43, 237, 0.937);
text-align: center;
}

h2{
  font-size: 50px;
    color: #ef0a0aed;
    text-align: center;
}
h3{
  font-size: 30px;
  color: #1771ee;
  text-align: center;
}

.block {
  
    display: block;
    width: 100%;
    border: none;
    background-color: #36d9f6ea;
    color: rgb(22, 21, 21);
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  
  .block:hover {
    background-color: #ddd;
    color: black;
  }





  

   